<!DOCTYPE html>
<html>
<head>
<title>NEW EVENT FORM</title>

<body> 


<h1>NEW EVENT FORM</h1>

<form action="{{ path('event_multiin') }}"  method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<input type="submit" />
</form>

<a href="event_showall">Show All</a>

</body>
</html>
